@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    font-family:"Poppins",sans-serif;
}

.superContainer{
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: absolute;
    display: flex;
    top:0px;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:0px;
}

.container{
    width:28vw;
    height:23vh;
    background-color: white;
    display: flex;
    gap:2.5vh;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    border-radius: 0.4rem;
}

.container h1{
    font-size: 0.4em;
}

.container .buttons{
    display: flex;
    flex-direction: column;
    gap:1vh;
}

.buttons button{
    width:23vw;
    height:6vh;
    border-radius: 0.4rem;
    cursor: pointer;
}

.logout{
    background-color: #17A2B8;
    border:none;
    color:white;
}

.cancel{
    background-color: white;
    border:1px solid #CF3636;
    color:#CF3636;
}