.dropdown {
    position: relative;
    width: 34vw;
  }
  
  .dropdownHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .dropdownHeader input {
    flex-grow: 1; 
    border: none;
    padding: 8px;
    outline: none; 
  }
  
  .dropdownArrow {
    padding: 8px; 
  }
  
  .dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .dropdownItem {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }
  
  .dropdownAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffccc7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 0.8rem;
  }
  
  .dropdownEmail {
    flex-grow: 1;
  }
  
  .assignButton {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    width:9vw;
    background-color: white;
    color:ccc;
  }
  