*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

.fullContainer{
    width:100vw;
    height:100vh;
    display: flex;
}

.fullContainer .rightContainer{
    background-color: #17A2B8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50vw;
    gap:1.4vh;
}

.rightContainer h3{
    font-size: 1.5rem;
    color:white;
    font-weight: 400;
}

.rightContainer p{
    color:white;
}