*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

.superContainer{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    gap:4vh;
    align-items: center;
}

.superContainer .navbar{
    width:100vw;
    height:7vh;
}

.navbar img{
    margin-left: 3vw;
}

.superContainer .container{
    width: 40vw;
    height:70vh;
    border:1px solid #EDF5FE;
    display: flex;
    flex-direction: column;
    gap:1vh;
}

.container .topCont{
    margin-top: 7vh;
    margin-left:3vw;
    display: flex;
    gap:0.2vw;
    align-items: center;
}

.topCont p{
    font-size: 0.6rem;
}

.container .middleCont{
    margin-left: 3vw;
    margin-top: 3vh;
}

.dotHigh{
    color: #FF2473;
  }
  
.dotModerate{
    color: #63C05B;
}
  
.dotLow{
    color: #18B0FF;
}

.middleCont{
    display: flex;
    flex-direction: column;
    gap:2vh;
}

.middleCont .checklistCont{
    height:35vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap:1.5vh;
}

.checklistCont .eachChecklist{
    width:35vw;
    display: flex;
    border: 1px solid #E2E2E2;
    padding-left: 0.5vw;
    gap:1vw;
    border-radius:0.4rem;
}

.eachChecklist .description{
    width:100%;
    height:6vh;
    border: none;
}

.bottomCont{
    display: flex;
    gap:0.8vw;
    margin-left:3vw;
    align-items: center;
}

.bottomCont p{
    font-weight: 500;
    font-size: 0.9rem;
}

.bottomCont .dueDate{
    width:5vw;
    height:3vh;
    background-color: #CF3636;
    color:white;
    border: none;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:428px){
    .superContainer .container{
        width:90vw;
        min-height:fit-content;
    }

    .container .checklistCont{
        height:fit-content;
    }

    .container .topCont p{
        font-size: 0.6rem;
    }
    

    .checklistCont .eachChecklist{
        width:80vw;
    }

    .bottomCont{
        display: flex;
        gap:3vw;
        margin-top: 3vh;
    }

    .bottomCont p{
        font-weight:500;
        font-size: 0.8rem;
    }

    .bottomCont .dueDate{
        width:20vw;
        height: 4.5vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}